.soporteSemaforo{
     background:black;
    width:2rem;
    height:4rem;
    align-items: center;
}
.semaforo{
    background:black;
    width:18rem;
    height:40rem;
}
.glow:focus,
.glowred:hover {
 box-shadow: 0 0 20px 8px rgba(255,0, 0, 1); 
    border-color: rgba(rgb(255, 0, 0));
  outline: none;
}

.glow:focus,
.glowyellow:hover {
box-shadow: 0 0 20px 8px rgb(255, 251, 0); 
    border-color: rgb(238, 255, 0);
  outline: none;
}
.glow:focus,
.glowgreen:hover {
box-shadow: 0 0 20px 8px rgba(0, 255, 0, 1); 
    border-color: rgba(0, 255, 0, 1);
  outline: none;
}

